img{
    height: 22px;
    width: 22px;
    
}
label{
    display: flex;
    gap: 4px;
    font-size: large;
    padding-bottom: 5px;
    
}
input{
    background-color: rgb(209, 199, 199);
    border: 1px solid rgb(177, 153, 153);
}
body{
    background: linear-gradient(rgb(10, 10, 99), rgb(48, 116, 159), rgb(201, 205, 206));
}
.container{
    height: 100vh;
    width: 100vw;
    margin: auto;
}
form{
    margin:auto;
    background-color: rgb(247, 248, 248);
    height: 120px;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
}
.input{
    
    height: auto;
    width: 80%;
    margin: auto;
    background-color: antiquewhite;
}
.submit{
    font-size: medium;
    border-radius: 7px;
    height: 25px;
    background-color: rgb(180, 179, 197);
}